:root {
  --white: #f1f3f4;
  --white-2: #cfd0d1;
  --black: #111112;
  --gray: #202124;
  --gray-2: #494b52;
  --green: #ceead6;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../public/modo-claro.svg");
  color: var(--black);
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notebook {
  margin-top: 1.5rem;
}

.App {
  display: flex;
}
