:root {
  --white: #f1f3f4;
  --white-2: #cfd0d1;
  --black: #111112;
  --gray: #202124;
  --gray-2: #494b52;
  --green: #ceead6;
  --bg-image: url("../../modo-claro.svg");
}

[data-theme="dark"] {
  --white: #1a1a1a;
  --white-2: #2a2a2a;
  --black: #ceead6;
  --gray: #b0b0b0;
  --gray-2: #6a6a6a;
  --green: #111112;
  --bg-image: url("../../modo-escuro.svg");
}

body {
  background-image: var(--bg-image);
  color: var(--black);
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notebook {
  margin-top: 1.5rem;
}

.App {
  display: flex;
}


