html, body, #root {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  background-color: var(--green);
  bottom: 0;
  left: 0;
  width: 16rem;
  height: 100vh;
  padding: 0.5rem;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.arrow-left {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-header {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.menu-title {
  background-color: var(--green);
  font-family: "Caveat Brush";
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.old-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
  width: calc(100% - 1rem);
  transition: background-color 0.2s;
}

.old-page:hover {
  background-color: var(--white-2);
  color: var(--gray);
}

.trash-icon {
  cursor: pointer;
  flex-shrink: 0;
}

.new-page-button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.new-page-button {
  border: none;
  border-radius: 25px;
  background-color: var(--white);
  color: var(--black);
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.new-page-button:hover {
  background-color: var(--white-2);
  color: var(--gray);
}

.recents {
  margin-left: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--black);
}

.moon-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.sidebar-collapsed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.arrow-right {
  cursor: pointer;
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s;
  border: 1px solid gray;
}

.arrow-right:hover {
  background-color: var(--white-2);
  color: var(--gray);
}